:root {
  --main-accent: #d12d35;
  --placeholder: #7e7e83;
  --main-dark: #161616;
  --hover-info: #e7b75d;
}

.page {
  color: var(--main-dark);
  scroll-behavior: smooth;
  cursor: url("cursor.2d7929d1.png"), pointer;
  font-family: Cinzel, serif;
  font-size: 16px;
  line-height: 27px;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  flex-direction: column;
  gap: 100px;
  margin: 0;
  display: flex;
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transition: all .5s ease-in-out;
  transform: translate(0);
}

@media (width >= 1260px) {
  .page__body {
    gap: 140px;
  }
}

.button-primary {
  color: #fff;
  background-color: var(--main-accent);
  cursor: pointer;
  border: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  display: flex;
}

.button-primary:hover {
  background-color: #ae1c23;
  transition: all .5s ease-in-out;
}

.button-primary:active {
  background-color: #eb343d;
  transition: all .5s ease-in-out;
}

.button-secondary {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
}

.button-secondary:hover {
  border-bottom: 1px solid #fff;
  transition: all .5s ease-in-out;
}

.form {
  flex-direction: column;
  display: flex;
}

.form__input {
  box-sizing: border-box;
  background-color: #f8f8fa;
  border: 1px solid #0000;
  outline: none;
  width: 100%;
  height: 48px;
  margin: 16px 0;
  padding: 14px 16px;
  font-family: inherit;
  font-size: 14px;
}

.form__input--textarea {
  resize: none;
  min-width: 100%;
  height: 144px;
}

.form__input::placeholder {
  color: var(--placeholder);
}

.form__input:hover {
  border: 1px solid #d5d7de;
}

.form__input:hover::placeholder {
  color: var(--main-dark);
}

.form__input:focus {
  border-color: var(--main-dark);
}

.menu {
  box-sizing: border-box;
  background-color: var(--main-accent);
  text-transform: uppercase;
  height: 100vh;
  padding: 25px 20px 288px;
  font-weight: 700;
  overflow: hidden;
}

.menu__content {
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  display: flex;
  position: relative;
}

.menu__top {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
  position: sticky;
  top: 0;
}

.menu__top--header {
  margin-bottom: 129px;
}

.menu__top--aside {
  position: relative;
}

.menu__logo {
  width: 64px;
  height: 46px;
  display: flex;
}

.menu__nav {
  margin-bottom: 32px;
}

.nav__list {
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item {
  display: flex;
}

.nav__link {
  color: inherit;
  letter-spacing: 2px;
  border-bottom: 1px solid #0000;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
}

.nav__link:hover {
  border-bottom: 1px solid #fff;
  transition: all .5s ease-in-out;
}

.menu__items {
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  display: flex;
}

.menu__items--hover {
  color: #fff;
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  padding-right: 35px;
  transition: visibility .5s, transform .5s ease-in-out;
  display: flex;
  position: absolute;
  top: -20px;
  right: 70px;
  transform: translateX(-100%);
}

.menu__items--hover:hover {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.menu__item {
  flex-direction: column;
  font-size: 16px;
  display: flex;
}

.menu__items--hover > .menu__item {
  align-items: end;
}

.menu__phone-number {
  color: inherit;
  text-decoration: none;
}

.menu__phone-number:hover {
  color: var(--hover-info);
  transition: all .5s ease-in-out;
}

@media (width >= 744px) {
  .menu {
    box-sizing: border-box;
    background-color: var(--main-accent);
    text-transform: uppercase;
    padding: 43px 72px 50vh;
    font-weight: 700;
  }

  .menu__top--header {
    margin-bottom: 141px;
  }

  .menu__logo {
    width: 87px;
    height: 65px;
  }
}

@media (width >= 1260px) {
  .menu {
    padding: 50px 120px 50vh;
  }

  .menu__top {
    margin-bottom: 55px;
  }

  .menu__top--header {
    margin-bottom: 83px;
  }

  .menu__nav {
    margin-bottom: 48px;
  }
}

.header {
  box-sizing: border-box;
  background-image: url("header-bg-mobile.b093dc11.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  height: 100vh;
  margin-bottom: -100px;
  display: flex;
}

.header__icons {
  gap: 24px;
  display: flex;
}

.header__logo-image:hover {
  transition: all .5s;
  transform: scale(1.3);
}

.header__bottom {
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
}

.header__title {
  color: #fff;
  text-align: center;
  letter-spacing: -1.5px;
  text-transform: none;
  flex-direction: column;
  margin: 0;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  display: flex;
}

@media (width >= 744px) {
  .header {
    box-sizing: border-box;
    background-image: url("header-bg.e1996371.png");
    flex-direction: column;
    height: 100vh;
    margin-bottom: -140px;
    display: flex;
  }

  .header__title {
    font-size: 64px;
  }
}

@media (width >= 1260px) {
  .header__title {
    font-size: 80px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
}

.icon--phone {
  background-image: url("icon-phone-call-mobile.b1531402.png");
}

.icon--phone:hover {
  transition: all .5s ease-in-out;
  transform: scale(1.3);
}

.icon--menu {
  background-image: url("icon-burger-menu-mobile.4dc12ca2.png");
}

.icon--menu:hover {
  background-image: url("icon-burger-menu-hover-mobile.5f6a108f.png");
  background-size: contain;
  transition: all .5s ease-in-out;
  transform: scale(1.3);
}

.icon--close {
  background-image: url("icon-close-mobile.6d20adf6.png");
}

.icon--close:hover {
  transition: all .5s ease-in-out;
  transform: scale(1.3);
}

@media (width >= 744px) {
  .icon {
    width: 32px;
    height: 32px;
  }

  .icon--phone {
    background-image: url("icon-phone-call-desktop.b8ff2f5d.png");
  }

  .icon--menu {
    background-image: url("icon-burger-menu-desktop.e362b43c.png");
  }

  .icon--close {
    background-image: url("icon-close-desktop.57e20de5.png");
  }

  .icon--phone:hover ~ .menu__items--hover {
    opacity: 1;
    transition: all .5 ease-in-out;
    pointer-events: all;
    transform: translateX(0);
  }
}

.main {
  background-color: #fff;
  flex-direction: column;
  gap: 100px;
  padding: 0 20px;
  display: flex;
}

.main:before {
  content: "";
}

.main__section {
  flex-direction: column;
  display: flex;
}

.main__section-title {
  color: var(--main-dark);
  letter-spacing: -1.5px;
  justify-content: center;
  margin: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  display: flex;
}

.main__section-content {
  flex-direction: column;
  display: flex;
}

@media (width >= 744px) {
  .main {
    gap: 140px;
    padding: 0 72px;
  }

  .main__section-title {
    font-size: 48px;
  }
}

@media (width >= 1260px) {
  .main {
    padding: 0 120px;
  }
}

.main__section-subtitle-about {
  color: var(--main-accent);
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.main__section-title--about {
  justify-content: start;
  margin-bottom: 32px;
}

.main__section-content--about {
  gap: 24px;
}

.main__section-address-title {
  margin: 0 0 16px;
}

.main__section-shedule {
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 16px;
  display: flex;
}

.main__section-times {
  text-wrap: nowrap;
  color: var(--main-dark, #161616);
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  display: flex;
}

.main__section-days {
  text-wrap: nowrap;
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.main__section--bold {
  font-weight: 700;
}

@media (width >= 744px) {
  .main__section--about {
    flex-direction: row;
  }

  .main__section-title--about {
    width: 70%;
  }

  .main__section-address-title {
    font-size: 24px;
    line-height: 125%;
  }

  .main__section-shedule {
    justify-content: start;
    gap: 25px;
  }
}

@media (width >= 1260px) {
  .main__section--about {
    gap: 64px;
  }

  .main__section-title--about {
    width: 100%;
  }
}

.main__section-subtitle-now {
  text-align: center;
  margin: 0 0 48px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.main__section-title--mb {
  margin-bottom: 8px;
}

.main__section-content--now {
  gap: 48px;
  margin-bottom: 40px;
}

.main__section-announce {
  color: inherit;
  text-decoration: none;
}

.main__section-announce-images {
  justify-content: space-around;
  gap: 20px;
  display: flex;
}

.main__section-announce-images--gap {
  gap: 8px;
}

.picture-container {
  margin-bottom: 24px;
  display: flex;
}

.main__section-announce-image {
  width: 100%;
  height: 100%;
}

.main__section-announce-image:hover {
  transition: all .5s ease-in-out;
  transform: scale(1.05);
}

.main__section-announce-picture {
  width: 100%;
  height: 100%;
}

.main__section-announce-title {
  color: var(--main-accent);
  margin: 0;
  font-size: 16px;
}

@media (width >= 744px) {
  .main__section-title-container {
    flex-direction: column;
    align-self: center;
    width: 400px;
    display: flex;
  }

  .main__section-announce-images {
    justify-content: space-between;
    gap: 24px;
  }

  .main__section-announce-image, .main__section-announce-picture {
    width: auto;
    max-width: 100%;
  }

  .hide-third:last-child {
    display: none;
  }

  .button-primary--view-all {
    align-self: center;
    width: 65%;
  }
}

@media (width >= 1260px) {
  .hide-third:last-child {
    display: flex;
  }

  .main__section-content--now {
    margin-bottom: 55px;
  }

  .button-primary--view-all {
    width: 32%;
  }
}

.main__section-title--explore {
  text-align: center;
  margin-bottom: 40px;
}

.main__section-content--explore {
  gap: 48px;
}

.main__section-content-card {
  flex-direction: column;
  display: flex;
}

.main__section-content-card-text {
  flex-direction: column;
  align-self: center;
  display: flex;
}

.main__section-content-card-picture {
  align-self: center;
  margin-bottom: 24px;
  display: flex;
}

.main__section-content-card-image:hover {
  transition: all .5s ease-in-out;
  transform: scale(1.05);
}

.main__section-content-card-title {
  color: var(--main-accent);
  text-align: center;
  margin: 0;
  font-size: 24px;
  line-height: 140%;
}

.main__section-content-card-description {
  text-align: center;
  font-family: Roboto, sans-serif;
}

@media (width >= 744px) {
  .main__section-title--explore {
    margin-bottom: 48px;
  }

  .main__section-content--explore {
    align-items: center;
    gap: 48px;
  }

  .main__section-content-card {
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  .main__section-content-card-text {
    flex-direction: column;
    align-self: center;
    width: 65%;
    display: flex;
  }

  .main__section-content-card-picture {
    justify-content: center;
    width: 81%;
    margin-bottom: 32px;
  }
}

@media (width >= 1260px) {
  .main__section-title--explore {
    align-self: center;
    width: 50%;
  }

  .main__section-content--explore {
    flex-direction: row;
    align-items: start;
    gap: 24px;
  }

  .main__section-content-card {
    flex: 1;
  }

  .main__section-content-card-text {
    width: 90%;
  }
}

.main__section-title--contact {
  margin-bottom: 48px;
}

.main__section-content--contacts {
  gap: 48px;
}

.main__section-content--contacts-container {
  flex-direction: column;
  gap: 48px;
  display: flex;
}

.main__section-content-contact {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

.main__section-content-contact-office {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.main__section-content-form {
  gap: 16px;
}

.main__section-content-form-input {
  margin: 0;
}

@media (width >= 744px) {
  .main__section-content--contacts {
    flex-direction: row;
    gap: 72px;
  }

  .main__section-content--contacts-container {
    width: 45%;
  }

  .main__section-content-form {
    width: 65%;
  }
}

@media (width >= 1260px) {
  .main__section-content--contacts-container {
    flex-direction: row;
  }

  .main__section-content--contacts {
    gap: 111px;
    margin-bottom: 10px;
  }

  .main__section-content-contact, .main__section-content-form {
    flex: 1;
  }
}

.footer {
  z-index: -1;
  background-image: url("footer-mobile.466869da.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 45.7143vw;
  position: sticky;
  bottom: 0;
}

@media (width >= 744px) {
  .footer {
    background-image: url("footer-tablet.bb3e304a.png");
    height: 45.7143vw;
  }
}

@media (width >= 1260px) {
  .footer {
    background-image: url("footer-desktop.48de5fe0.png");
    height: 28vw;
  }
}



/*# sourceMappingURL=index.971c2ea4.css.map */
